.sec-about img {
    width: 100%;
}

.about-txt {
    padding: 3rem 3rem 0rem;
}

.about-txt p {
    font-weight: 400;
    font-size: 1.4rem;
    color: #888aaa;
}
.about-txt p:last-child {
    margin-bottom: 0;
}

.about-txt p:last-child {
    margin-bottom: 0;
}

.btn-more {
    display: block;
    border: 1px solid var(--orangeColor);
    background-color: transparent;
    color: var(--orangeColor);
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    width: 200px;
    font-weight: bold;
}

.btn-more:hover {
    background-color: var(--orangeColor);
    color: #fff;
}